ClienteTransmetro/src/conf/xml-resources/web-service-references/ConsultasArbol/wsdl/localhost_8080/ServidorTransmetro/ConsultasArbol.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Consultas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Consultas/" name="ConsultasArbol">
<types>
<xsd:schema>
<xsd:import namespace="http://Consultas/" schemaLocation="http://localhost:8080/ServidorTransmetro/ConsultasArbol?xsd=1"/>
</xsd:schema>
</types>
<message name="generarArchivo">
<part name="parameters" element="tns:generarArchivo"/>
</message>
<message name="generarArchivoResponse">
<part name="parameters" element="tns:generarArchivoResponse"/>
</message>
<message name="IniciarSesion">
<part name="parameters" element="tns:IniciarSesion"/>
</message>
<message name="IniciarSesionResponse">
<part name="parameters" element="tns:IniciarSesionResponse"/>
</message>
<message name="insertarAdmin">
<part name="parameters" element="tns:insertarAdmin"/>
</message>
<message name="insertarAdminResponse">
<part name="parameters" element="tns:insertarAdminResponse"/>
</message>
<message name="insertarEstacionGeneral">
<part name="parameters" element="tns:insertarEstacionGeneral"/>
</message>
<message name="insertarEstacionGeneralResponse">
<part name="parameters" element="tns:insertarEstacionGeneralResponse"/>
</message>
<message name="insertarEstacionClave">
<part name="parameters" element="tns:insertarEstacionClave"/>
</message>
<message name="insertarEstacionClaveResponse">
<part name="parameters" element="tns:insertarEstacionClaveResponse"/>
</message>
<message name="insertarBus">
<part name="parameters" element="tns:insertarBus"/>
</message>
<message name="insertarBusResponse">
<part name="parameters" element="tns:insertarBusResponse"/>
</message>
<portType name="ConsultasArbol">
<operation name="generarArchivo">
<input wsam:Action="http://Consultas/ConsultasArbol/generarArchivoRequest" message="tns:generarArchivo"/>
<output wsam:Action="http://Consultas/ConsultasArbol/generarArchivoResponse" message="tns:generarArchivoResponse"/>
</operation>
<operation name="IniciarSesion">
<input wsam:Action="http://Consultas/ConsultasArbol/IniciarSesionRequest" message="tns:IniciarSesion"/>
<output wsam:Action="http://Consultas/ConsultasArbol/IniciarSesionResponse" message="tns:IniciarSesionResponse"/>
</operation>
<operation name="insertarAdmin">
<input wsam:Action="http://Consultas/ConsultasArbol/insertarAdminRequest" message="tns:insertarAdmin"/>
<output wsam:Action="http://Consultas/ConsultasArbol/insertarAdminResponse" message="tns:insertarAdminResponse"/>
</operation>
<operation name="insertarEstacionGeneral">
<input wsam:Action="http://Consultas/ConsultasArbol/insertarEstacionGeneralRequest" message="tns:insertarEstacionGeneral"/>
<output wsam:Action="http://Consultas/ConsultasArbol/insertarEstacionGeneralResponse" message="tns:insertarEstacionGeneralResponse"/>
</operation>
<operation name="insertarEstacionClave">
<input wsam:Action="http://Consultas/ConsultasArbol/insertarEstacionClaveRequest" message="tns:insertarEstacionClave"/>
<output wsam:Action="http://Consultas/ConsultasArbol/insertarEstacionClaveResponse" message="tns:insertarEstacionClaveResponse"/>
</operation>
<operation name="insertarBus">
<input wsam:Action="http://Consultas/ConsultasArbol/insertarBusRequest" message="tns:insertarBus"/>
<output wsam:Action="http://Consultas/ConsultasArbol/insertarBusResponse" message="tns:insertarBusResponse"/>
</operation>
</portType>
<binding name="ConsultasArbolPortBinding" type="tns:ConsultasArbol">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="generarArchivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarEstacionGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarEstacionClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConsultasArbol">
<port name="ConsultasArbolPort" binding="tns:ConsultasArbolPortBinding">
<soap:address location="http://localhost:8080/ServidorTransmetro/ConsultasArbol"/>
</port>
</service>
</definitions>