ClienteTransmetro/web/WEB-INF/wsdl/localhost_8080/ServidorTransmetro/ConsultasArbol.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Consultas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Consultas/" name="ConsultasArbol">
<types>
<xsd:schema>
<xsd:import namespace="http://Consultas/" schemaLocation="http://localhost:8080/ServidorTransmetro/ConsultasArbol?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarEstacionGeneral">
<part name="parameters" element="tns:insertarEstacionGeneral"/>
</message>
<message name="insertarEstacionGeneralResponse">
<part name="parameters" element="tns:insertarEstacionGeneralResponse"/>
</message>
<message name="insertarEstacionClave">
<part name="parameters" element="tns:insertarEstacionClave"/>
</message>
<message name="insertarEstacionClaveResponse">
<part name="parameters" element="tns:insertarEstacionClaveResponse"/>
</message>
<message name="insertarBus">
<part name="parameters" element="tns:insertarBus"/>
</message>
<message name="insertarBusResponse">
<part name="parameters" element="tns:insertarBusResponse"/>
</message>
<message name="grafo">
<part name="parameters" element="tns:grafo"/>
</message>
<message name="grafoResponse">
<part name="parameters" element="tns:grafoResponse"/>
</message>
<message name="crearRuta">
<part name="parameters" element="tns:crearRuta"/>
</message>
<message name="crearRutaResponse">
<part name="parameters" element="tns:crearRutaResponse"/>
</message>
<message name="rutaClave">
<part name="parameters" element="tns:rutaClave"/>
</message>
<message name="rutaClaveResponse">
<part name="parameters" element="tns:rutaClaveResponse"/>
</message>
<message name="rutaGeneral">
<part name="parameters" element="tns:rutaGeneral"/>
</message>
<message name="rutaGeneralResponse">
<part name="parameters" element="tns:rutaGeneralResponse"/>
</message>
<message name="cbChoferes">
<part name="parameters" element="tns:cbChoferes"/>
</message>
<message name="cbChoferesResponse">
<part name="parameters" element="tns:cbChoferesResponse"/>
</message>
<message name="cbRutas">
<part name="parameters" element="tns:cbRutas"/>
</message>
<message name="cbRutasResponse">
<part name="parameters" element="tns:cbRutasResponse"/>
</message>
<message name="cbBuses">
<part name="parameters" element="tns:cbBuses"/>
</message>
<message name="cbBusesResponse">
<part name="parameters" element="tns:cbBusesResponse"/>
</message>
<message name="solicitarBus">
<part name="parameters" element="tns:solicitarBus"/>
</message>
<message name="solicitarBusResponse">
<part name="parameters" element="tns:solicitarBusResponse"/>
</message>
<message name="cbEstacionesClave">
<part name="parameters" element="tns:cbEstacionesClave"/>
</message>
<message name="cbEstacionesClaveResponse">
<part name="parameters" element="tns:cbEstacionesClaveResponse"/>
</message>
<message name="generarArchivo">
<part name="parameters" element="tns:generarArchivo"/>
</message>
<message name="generarArchivoResponse">
<part name="parameters" element="tns:generarArchivoResponse"/>
</message>
<message name="cbEstacionesGeneral">
<part name="parameters" element="tns:cbEstacionesGeneral"/>
</message>
<message name="cbEstacionesGeneralResponse">
<part name="parameters" element="tns:cbEstacionesGeneralResponse"/>
</message>
<message name="IniciarSesion">
<part name="parameters" element="tns:IniciarSesion"/>
</message>
<message name="IniciarSesionResponse">
<part name="parameters" element="tns:IniciarSesionResponse"/>
</message>
<message name="insertarAdmin">
<part name="parameters" element="tns:insertarAdmin"/>
</message>
<message name="insertarAdminResponse">
<part name="parameters" element="tns:insertarAdminResponse"/>
</message>
<message name="agregarChofer">
<part name="parameters" element="tns:agregarChofer"/>
</message>
<message name="agregarChoferResponse">
<part name="parameters" element="tns:agregarChoferResponse"/>
</message>
<message name="insertarAsignacion">
<part name="parameters" element="tns:insertarAsignacion"/>
</message>
<message name="insertarAsignacionResponse">
<part name="parameters" element="tns:insertarAsignacionResponse"/>
</message>
<message name="recorridoGeneral">
<part name="parameters" element="tns:recorridoGeneral"/>
</message>
<message name="recorridoGeneralResponse">
<part name="parameters" element="tns:recorridoGeneralResponse"/>
</message>
<message name="reportes">
<part name="parameters" element="tns:reportes"/>
</message>
<message name="reportesResponse">
<part name="parameters" element="tns:reportesResponse"/>
</message>
<portType name="ConsultasArbol">
<operation name="insertarEstacionGeneral">
<input wsam:Action="http://Consultas/ConsultasArbol/insertarEstacionGeneralRequest" message="tns:insertarEstacionGeneral"/>
<output wsam:Action="http://Consultas/ConsultasArbol/insertarEstacionGeneralResponse" message="tns:insertarEstacionGeneralResponse"/>
</operation>
<operation name="insertarEstacionClave">
<input wsam:Action="http://Consultas/ConsultasArbol/insertarEstacionClaveRequest" message="tns:insertarEstacionClave"/>
<output wsam:Action="http://Consultas/ConsultasArbol/insertarEstacionClaveResponse" message="tns:insertarEstacionClaveResponse"/>
</operation>
<operation name="insertarBus">
<input wsam:Action="http://Consultas/ConsultasArbol/insertarBusRequest" message="tns:insertarBus"/>
<output wsam:Action="http://Consultas/ConsultasArbol/insertarBusResponse" message="tns:insertarBusResponse"/>
</operation>
<operation name="grafo">
<input wsam:Action="http://Consultas/ConsultasArbol/grafoRequest" message="tns:grafo"/>
<output wsam:Action="http://Consultas/ConsultasArbol/grafoResponse" message="tns:grafoResponse"/>
</operation>
<operation name="crearRuta">
<input wsam:Action="http://Consultas/ConsultasArbol/crearRutaRequest" message="tns:crearRuta"/>
<output wsam:Action="http://Consultas/ConsultasArbol/crearRutaResponse" message="tns:crearRutaResponse"/>
</operation>
<operation name="rutaClave">
<input wsam:Action="http://Consultas/ConsultasArbol/rutaClaveRequest" message="tns:rutaClave"/>
<output wsam:Action="http://Consultas/ConsultasArbol/rutaClaveResponse" message="tns:rutaClaveResponse"/>
</operation>
<operation name="rutaGeneral">
<input wsam:Action="http://Consultas/ConsultasArbol/rutaGeneralRequest" message="tns:rutaGeneral"/>
<output wsam:Action="http://Consultas/ConsultasArbol/rutaGeneralResponse" message="tns:rutaGeneralResponse"/>
</operation>
<operation name="cbChoferes">
<input wsam:Action="http://Consultas/ConsultasArbol/cbChoferesRequest" message="tns:cbChoferes"/>
<output wsam:Action="http://Consultas/ConsultasArbol/cbChoferesResponse" message="tns:cbChoferesResponse"/>
</operation>
<operation name="cbRutas">
<input wsam:Action="http://Consultas/ConsultasArbol/cbRutasRequest" message="tns:cbRutas"/>
<output wsam:Action="http://Consultas/ConsultasArbol/cbRutasResponse" message="tns:cbRutasResponse"/>
</operation>
<operation name="cbBuses">
<input wsam:Action="http://Consultas/ConsultasArbol/cbBusesRequest" message="tns:cbBuses"/>
<output wsam:Action="http://Consultas/ConsultasArbol/cbBusesResponse" message="tns:cbBusesResponse"/>
</operation>
<operation name="solicitarBus">
<input wsam:Action="http://Consultas/ConsultasArbol/solicitarBusRequest" message="tns:solicitarBus"/>
<output wsam:Action="http://Consultas/ConsultasArbol/solicitarBusResponse" message="tns:solicitarBusResponse"/>
</operation>
<operation name="cbEstacionesClave">
<input wsam:Action="http://Consultas/ConsultasArbol/cbEstacionesClaveRequest" message="tns:cbEstacionesClave"/>
<output wsam:Action="http://Consultas/ConsultasArbol/cbEstacionesClaveResponse" message="tns:cbEstacionesClaveResponse"/>
</operation>
<operation name="generarArchivo">
<input wsam:Action="http://Consultas/ConsultasArbol/generarArchivoRequest" message="tns:generarArchivo"/>
<output wsam:Action="http://Consultas/ConsultasArbol/generarArchivoResponse" message="tns:generarArchivoResponse"/>
</operation>
<operation name="cbEstacionesGeneral">
<input wsam:Action="http://Consultas/ConsultasArbol/cbEstacionesGeneralRequest" message="tns:cbEstacionesGeneral"/>
<output wsam:Action="http://Consultas/ConsultasArbol/cbEstacionesGeneralResponse" message="tns:cbEstacionesGeneralResponse"/>
</operation>
<operation name="IniciarSesion">
<input wsam:Action="http://Consultas/ConsultasArbol/IniciarSesionRequest" message="tns:IniciarSesion"/>
<output wsam:Action="http://Consultas/ConsultasArbol/IniciarSesionResponse" message="tns:IniciarSesionResponse"/>
</operation>
<operation name="insertarAdmin">
<input wsam:Action="http://Consultas/ConsultasArbol/insertarAdminRequest" message="tns:insertarAdmin"/>
<output wsam:Action="http://Consultas/ConsultasArbol/insertarAdminResponse" message="tns:insertarAdminResponse"/>
</operation>
<operation name="agregarChofer">
<input wsam:Action="http://Consultas/ConsultasArbol/agregarChoferRequest" message="tns:agregarChofer"/>
<output wsam:Action="http://Consultas/ConsultasArbol/agregarChoferResponse" message="tns:agregarChoferResponse"/>
</operation>
<operation name="insertarAsignacion">
<input wsam:Action="http://Consultas/ConsultasArbol/insertarAsignacionRequest" message="tns:insertarAsignacion"/>
<output wsam:Action="http://Consultas/ConsultasArbol/insertarAsignacionResponse" message="tns:insertarAsignacionResponse"/>
</operation>
<operation name="recorridoGeneral">
<input wsam:Action="http://Consultas/ConsultasArbol/recorridoGeneralRequest" message="tns:recorridoGeneral"/>
<output wsam:Action="http://Consultas/ConsultasArbol/recorridoGeneralResponse" message="tns:recorridoGeneralResponse"/>
</operation>
<operation name="reportes">
<input wsam:Action="http://Consultas/ConsultasArbol/reportesRequest" message="tns:reportes"/>
<output wsam:Action="http://Consultas/ConsultasArbol/reportesResponse" message="tns:reportesResponse"/>
</operation>
</portType>
<binding name="ConsultasArbolPortBinding" type="tns:ConsultasArbol">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarEstacionGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarEstacionClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="grafo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rutaClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rutaGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cbChoferes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cbRutas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cbBuses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cbEstacionesClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarArchivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cbEstacionesGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarAsignacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recorridoGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConsultasArbol">
<port name="ConsultasArbolPort" binding="tns:ConsultasArbolPortBinding">
<soap:address location="http://localhost:8080/ServidorTransmetro/ConsultasArbol"/>
</port>
</service>
</definitions>