ClienteTransmetro/web/WEB-INF/wsdl/localhost_8080/ServidorTransmetro/ConsultasArbol.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Consultas/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Consultas/">

<xs:element name="IniciarSesion" type="tns:IniciarSesion"/>

<xs:element name="IniciarSesionResponse" type="tns:IniciarSesionResponse"/>

<xs:element name="generarArchivo" type="tns:generarArchivo"/>

<xs:element name="generarArchivoResponse" type="tns:generarArchivoResponse"/>

<xs:element name="insertarAdmin" type="tns:insertarAdmin"/>

<xs:element name="insertarAdminResponse" type="tns:insertarAdminResponse"/>

<xs:element name="insertarBus" type="tns:insertarBus"/>

<xs:element name="insertarBusResponse" type="tns:insertarBusResponse"/>

<xs:element name="insertarEstacionClave" type="tns:insertarEstacionClave"/>

<xs:element name="insertarEstacionClaveResponse" type="tns:insertarEstacionClaveResponse"/>

<xs:element name="insertarEstacionGeneral" type="tns:insertarEstacionGeneral"/>

<xs:element name="insertarEstacionGeneralResponse" type="tns:insertarEstacionGeneralResponse"/>

<xs:complexType name="generarArchivo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generarArchivoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertarEstacionGeneral">
<xs:sequence>
<xs:element name="idEstacion" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IniciarSesion">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IniciarSesionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarEstacionClave">
<xs:sequence>
<xs:element name="idEstacion" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarAdmin">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarBus">
<xs:sequence>
<xs:element name="idBus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>