ClienteTransmetro/web/WEB-INF/wsdl/localhost_8080/ServidorTransmetro/ConsultasArbol.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Consultas/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Consultas/">

<xs:element name="IniciarSesion" type="tns:IniciarSesion"/>

<xs:element name="IniciarSesionResponse" type="tns:IniciarSesionResponse"/>

<xs:element name="agregarChofer" type="tns:agregarChofer"/>

<xs:element name="agregarChoferResponse" type="tns:agregarChoferResponse"/>

<xs:element name="cbBuses" type="tns:cbBuses"/>

<xs:element name="cbBusesResponse" type="tns:cbBusesResponse"/>

<xs:element name="cbChoferes" type="tns:cbChoferes"/>

<xs:element name="cbChoferesResponse" type="tns:cbChoferesResponse"/>

<xs:element name="cbEstacionesClave" type="tns:cbEstacionesClave"/>

<xs:element name="cbEstacionesClaveResponse" type="tns:cbEstacionesClaveResponse"/>

<xs:element name="cbEstacionesGeneral" type="tns:cbEstacionesGeneral"/>

<xs:element name="cbEstacionesGeneralResponse" type="tns:cbEstacionesGeneralResponse"/>

<xs:element name="cbRutas" type="tns:cbRutas"/>

<xs:element name="cbRutasResponse" type="tns:cbRutasResponse"/>

<xs:element name="crearRuta" type="tns:crearRuta"/>

<xs:element name="crearRutaResponse" type="tns:crearRutaResponse"/>

<xs:element name="generarArchivo" type="tns:generarArchivo"/>

<xs:element name="generarArchivoResponse" type="tns:generarArchivoResponse"/>

<xs:element name="grafo" type="tns:grafo"/>

<xs:element name="grafoResponse" type="tns:grafoResponse"/>

<xs:element name="insertarAdmin" type="tns:insertarAdmin"/>

<xs:element name="insertarAdminResponse" type="tns:insertarAdminResponse"/>

<xs:element name="insertarBus" type="tns:insertarBus"/>

<xs:element name="insertarBusResponse" type="tns:insertarBusResponse"/>

<xs:element name="insertarEstacionClave" type="tns:insertarEstacionClave"/>

<xs:element name="insertarEstacionClaveResponse" type="tns:insertarEstacionClaveResponse"/>

<xs:element name="insertarEstacionGeneral" type="tns:insertarEstacionGeneral"/>

<xs:element name="insertarEstacionGeneralResponse" type="tns:insertarEstacionGeneralResponse"/>

<xs:element name="rutaClave" type="tns:rutaClave"/>

<xs:element name="rutaClaveResponse" type="tns:rutaClaveResponse"/>

<xs:element name="rutaGeneral" type="tns:rutaGeneral"/>

<xs:element name="rutaGeneralResponse" type="tns:rutaGeneralResponse"/>

<xs:complexType name="generarArchivo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generarArchivoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cbChoferes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cbChoferesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cbRutas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cbRutasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarEstacionGeneral">
<xs:sequence>
<xs:element name="idEstacion" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cbEstacionesGeneral">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cbEstacionesGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IniciarSesion">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IniciarSesionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarAdmin">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarBus">
<xs:sequence>
<xs:element name="idBus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutaClave">
<xs:sequence>
<xs:element name="idRuta" type="xs:int"/>
<xs:element name="idEstacionClave" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutaClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearRuta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grafo">
<xs:sequence>
<xs:element name="tipo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grafoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cbEstacionesClave">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cbEstacionesClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarEstacionClave">
<xs:sequence>
<xs:element name="idEstacion" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cbBuses">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cbBusesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarChofer">
<xs:sequence>
<xs:element name="idChofer" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutaGeneral">
<xs:sequence>
<xs:element name="idRuta" type="xs:int"/>
<xs:element name="idEstacionGeneral" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutaGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>